---

yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'

# We need to list all rules, otherwise, they are all not checked

rules:
  anchors: enable
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
  comments-indentation: disable
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: disable
  float-values: disable
  hyphens: enable
  indentation:
    spaces: consistent
    indent-sequences: false  # see https://yamlscript.org/blog/2025-07-20/yaml-best-practices/#dont-block-sequences-in-mappings
  key-duplicates: enable
  key-ordering: disable
  line-length: disable
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: disable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning
